.navbar{
    background-color: red;
    color: white;
}
.content_navbar{
    display: block;
}
.footer{
    background: red;
    color: white;
    height: 120px;
    width: 100%;
    bottom: 0px;    
}
.content_footer{
    padding-top: 30px;
}
.text_footer{
    text-align: center;
}